In [1]:
import pymongo
import pandas as pd
pd.set_option("display.max_columns", None)
import warnings
warnings.filterwarnings("ignore")
from pprint import pprint

In [2]:
client = pymongo.MongoClient("mongodb+srv://charanya_24:nscharanya@cluster1.5dr2wqn.mongodb.net/?retryWrites=true&w=majority")
db = client["sample_airbnb"]
coll = db["listingsAndReviews"]

In [7]:
data= []

for i in coll.find({},{"_id":1, "listing_url":1, "name":1, 'property_type':1, 'room_type':1, 'bed_type':1, 'minimum_nights':1, 'maximum_nights':1, 'cancellation_policy':1, 'accommodates':1, 'bedrooms':1, 'beds':1, 'number_of_reviews':1, 'bathrooms':1, 'price':1, 'extra_people':1, 'guests_included':1, 'images.picture_url':1, 'review_scores':1,'cleaning_fee':1}):
    data.append(i)

In [ ]:
pprint(data)

In [8]:
df_1 = pd.DataFrame(data)

In [9]:
df_1.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,Apartment,Entire home/apt,Real Bed,1,1125,flexible,4,1.0,2.0,0,1.0,50.00,31.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,{},NaN
1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.00,15.00,6,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c...",35.00
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,1.0,115.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c...",100.00
3,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1.0,2.0,0,1.0,317.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,{},187.00
4,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_...",135.00

In [10]:
df_1["images"]= df_1["images"].apply(lambda x: x["picture_url"]) #  takes each element x and extracts the value associated with the key "picture_url" 
df_1

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,Apartment,Entire home/apt,Real Bed,1,1125,flexible,4,1.0,2.0,0,1.0,50.00,31.00,1,https://a0.muscache.com/im/pictures/9fa69ad8-c...,{},NaN
1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.00,15.00,6,https://a0.muscache.com/im/pictures/e83e702f-e...,"{'review_scores_accuracy': 9, 'review_scores_c...",35.00
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,1.0,115.00,0.00,1,https://a0.muscache.com/im/pictures/15037101/5...,"{'review_scores_accuracy': 9, 'review_scores_c...",100.00
3,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1.0,2.0,0,1.0,317.00,0.00,1,https://a0.muscache.com/im/pictures/5b408b9e-4...,{},187.00
4,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.00,0.00,1,https://a0.muscache.com/im/pictures/15074036/a...,"{'review_scores_accuracy': 10, 'review_scores_...",135.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9983221,https://www.airbnb.com/rooms/9983221,Cozy apartment downtown Porto,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,4,1.0,2.0,107,1.0,58.00,15.00,2,https://a0.muscache.com/im/pictures/15b74c6a-8...,"{'review_scores_accuracy': 10, 'review_scores_...",20.00
5551,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,House,Entire home/apt,Real Bed,1,1125,flexible,2,2.0,3.0,0,1.0,501.00,0.00,1,https://a0.muscache.com/im/pictures/e40d18b2-1...,{},NaN
5552,9990304,https://www.airbnb.com/rooms/9990304,March Madness Special! Aina Nalu Platinum D107,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6,2.0,3.0,13,2.0,227.00,0.00,1,https://a0.muscache.com/im/pictures/7d08e433-5...,"{'review_scores_accuracy': 10, 'review_scores_...",289.00
5553,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6,2.0,4.0,15,2.0,220.00,0.00,1,https://a0.muscache.com/im/pictures/be1978c5-6...,"{'review_scores_accuracy': 10, 'review_scores_...",315.00
5554,9987200,https://www.airbnb.com/rooms/9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,Real Bed,3,60,flexible,3,1.0,3.0,90,1.0,101.00,50.00,2,https://a0.muscache.com/im/pictures/4a2a03e4-d...,"{'review_scores_accuracy': 10, 'review_scores_...",100.00

In [11]:
df_1["review_scores"][0]

{}

In [12]:
# If key "review_scores_rating" is present in the dictionary, it returns corresponding value; else returns 0
df_1["review_scores"]= df_1["review_scores"].apply(lambda x: x.get("review_scores_rating",0))

In [13]:
df_1.describe().T # Transpose (rows become columns and vice-versa)

                    count       mean        std  min  25%   50%   75%    max
accommodates       5555.0   3.505851   2.297019  1.0  2.0   3.0   4.0   16.0
bedrooms           5550.0   1.411712   1.041942  0.0  1.0   1.0   2.0   20.0
beds               5542.0   2.071454   1.619660  0.0  1.0   2.0   3.0   25.0
number_of_reviews  5555.0  27.606481  49.798376  0.0  1.0   5.0  32.0  533.0
review_scores      5555.0  68.395680  41.829834  0.0  0.0  92.0  98.0  100.0

In [14]:
df_1.isnull().sum()  # Checks the total number of null values in each column

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
extra_people              0
guests_included           0
images                    0
review_scores             0
cleaning_fee           1531
dtype: int64

## Handling Null Values

In [32]:
# Columns having null values
# beds
# bedrooms
# bathrooms
# cleaning_fee

In [15]:
# replacing missing (NaN) values with 0
df_1["beds"].fillna(0,inplace= True)
df_1["bedrooms"].fillna(0,inplace= True)
df_1["bathrooms"].fillna(0,inplace= True)
df_1["cleaning_fee"].fillna(0,inplace= True)

In [16]:
df_1.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
extra_people           0
guests_included        0
images                 0
review_scores          0
cleaning_fee           0
dtype: int64

## Handling DataTypes

In [17]:
df_1.head(4)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,Apartment,Entire home/apt,Real Bed,1,1125,flexible,4,1.0,2.0,0,1.0,50.00,31.00,1,https://a0.muscache.com/im/pictures/9fa69ad8-c...,0,0
1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.00,15.00,6,https://a0.muscache.com/im/pictures/e83e702f-e...,89,35.00
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,1.0,115.00,0.00,1,https://a0.muscache.com/im/pictures/15037101/5...,84,100.00
3,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1.0,2.0,0,1.0,317.00,0.00,1,https://a0.muscache.com/im/pictures/5b408b9e-4...,0,187.00

In [18]:
df_1.dtypes     # Returns the datatype of each column

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
extra_people            object
guests_included         object
images                  object
review_scores            int64
cleaning_fee            object
dtype: object

In [19]:
# .astype(float): Converts the data type of the given column
df_1["minimum_nights"]= df_1["minimum_nights"].astype(int)
df_1["maximum_nights"]= df_1["maximum_nights"].astype(int)
df_1["bedrooms"]= df_1["bedrooms"].astype(int)
df_1["beds"]= df_1["beds"].astype(int)
df_1["bathrooms"]= df_1["bathrooms"].astype(str).astype(float).astype(int)   # str can't be directly converetd into int, since the values are in the form of float
df_1["price"]= df_1["price"].astype(str).astype(float).astype(int)
df_1["extra_people"]= df_1["extra_people"].astype(str).astype(float).astype(int)
df_1["guests_included"]= df_1["guests_included"].astype(str).astype(float).astype(int)
df_1["cleaning_fee"]= df_1["cleaning_fee"].astype(str).astype(float).astype(int)

In [20]:
df_1.dtypes

_id                    object
listing_url            object
name                   object
property_type          object
room_type              object
bed_type               object
minimum_nights          int32
maximum_nights          int32
cancellation_policy    object
accommodates            int64
bedrooms                int32
beds                    int32
number_of_reviews       int64
bathrooms               int32
price                   int32
extra_people            int32
guests_included         int32
images                 object
review_scores           int64
cleaning_fee            int32
dtype: object

## Fetching Host Details

In [21]:
host= []
for i in coll.find({},{"_id":1, "host":1}):   # Fetching id and host columns from the collection 
    host.append(i)               # Appending all the id's and host details into empty_list (host)

In [ ]:
pprint(host)

In [22]:
df_host= pd.DataFrame(host)

In [23]:
host_columns= {'_id':[],
               'host_id':[], 
               'host_url':[], 
               'host_name':[], 
               'host_location':[],
               'host_response_time':[], 
               'host_thumbnail_url':[], 
               'host_picture_url':[], 
               'host_neighbourhood':[], 
               'host_response_rate':[], 
               'host_is_superhost':[], 
               'host_has_profile_pic':[], 
               'host_identity_verified':[], 
               'host_listings_count':[], 
               'host_total_listings_count':[], 
               'host_verifications':[]}

In [24]:
df_host.head(5)

        _id                                               host
0  10057447  {'host_id': '51612949', 'host_url': 'https://w...
1  10006546  {'host_id': '51399391', 'host_url': 'https://w...
2   1001265  {'host_id': '5448114', 'host_url': 'https://ww...
3  10009999  {'host_id': '1282196', 'host_url': 'https://ww...
4   1003530  {'host_id': '454250', 'host_url': 'https://www...

In [25]:
for i in df_host['_id']:
    host_columns['_id'].append(i)
for i in df_host['host']:
    host_columns['host_id'].append(i['host_id'])
    host_columns['host_url'].append(i['host_url'])
    host_columns['host_name'].append(i['host_name'])
    host_columns["host_location"].append(i["host_location"])
    host_columns['host_response_time'].append(i.get('host_response_time')) # If the key exists, it returns the corresponding value. If the key doesn't exist, it returns None
    host_columns['host_thumbnail_url'].append(i['host_thumbnail_url'])
    host_columns['host_picture_url'].append(i['host_picture_url'])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate")) # If the key exists, it returns the corresponding value. If the key doesn't exist, it returns None
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [26]:
df_1_host= pd.DataFrame(host_columns)

In [27]:

df_1_host.head(4)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10057447,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",None,https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,NaN,False,True,False,1,1,"[email, phone, jumio, offline_government_id, s..."
1,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,,100.0,False,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
2,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,98.0,False,True,False,18,18,"[email, phone, reviews, kba]"
3,10009999,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",None,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,NaN,False,True,False,1,1,"[email, phone, facebook]"

In [28]:
df_1_host.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

## Checking Host Neighbourhood Details

In [29]:
# host_neighbourhood have more empty values ('')
# Finding the how many values are empty
empty_row_index = []
for index, row in df_1_host.iterrows():
    if row["host_neighbourhood"] == '':
        empty_row_index.append(index)

In [30]:
print(len(empty_row_index))

1923

## Handling Null and Empty Values in Host details

In [31]:
df_1_host["host_response_time"].fillna("Not Specified",inplace= True) # Handling Null Values
df_1_host["host_response_rate"].fillna("Not Specified",inplace= True) # Handling Null Values 
df_1_host["host_neighbourhood"]= df_1_host["host_neighbourhood"].replace({'':"Not Specified"}) # Replacing empty values

In [33]:
df_1_host.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

## Handling Boolean Values

In [35]:
# Changing "True" --> Yes and "False" --> "No"

df_1_host["host_is_superhost"]= df_1_host["host_is_superhost"].map({False: "No", True: "Yes"})
df_1_host["host_has_profile_pic"]= df_1_host["host_has_profile_pic"].map({False: "No", True: "Yes"})
df_1_host["host_identity_verified"]= df_1_host["host_identity_verified"].map({False: "No", True: "Yes"})

In [36]:
df_1_host.head(4)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10057447,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",Not Specified,https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,Not Specified,No,Yes,No,1,1,"[email, phone, jumio, offline_government_id, s..."
1,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not Specified,100.0,No,Yes,Yes,3,3,"[email, phone, reviews, jumio, offline_governm..."
2,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,98.0,No,Yes,No,18,18,"[email, phone, reviews, kba]"
3,10009999,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Not Specified,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,Not Specified,No,Yes,No,1,1,"[email, phone, facebook]"

## Fetching Address Details

In [37]:
address= []
for i in coll.find({}, {"_id":1, "address":1}):    # Fetching id and address columns from the collection
    address.append(i)  # Appending all the id's and address details into empty_list (address)

In [38]:
df_address= pd.DataFrame(address)

In [39]:
address_columns= {'_id':[],
                  'street':[], 
                  'suburb':[], 
                  'government_area':[], 
                  'market':[], 
                  'country':[],
                  'country_code':[], 
                  'location_type':[], 
                  'longitude':[], 
                  'latitude':[],
                  'is_location_exact':[]}

In [40]:
for i in df_address["_id"]:
    address_columns["_id"].append(i)

for i in df_address["address"]:
    address_columns["street"].append(i["street"])
    address_columns["suburb"].append(i["suburb"])
    address_columns["government_area"].append(i["government_area"])
    address_columns["market"].append(i["market"])
    address_columns["country"].append(i["country"])
    address_columns["country_code"].append(i["country_code"])
    address_columns["location_type"].append(i["location"]["type"])
    address_columns["longitude"].append(i["location"]["coordinates"][0])
    address_columns["latitude"].append(i["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(i["location"]["is_location_exact"])

In [41]:
df_1_address= pd.DataFrame(address_columns)
df_1_address.head(4)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10057447,"Montréal, Québec, Canada",Mile End,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.59111,45.518890,True
1,10006546,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.141300,False
2,1001265,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.286340,True
3,10009999,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,True

In [42]:
df_1_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [43]:
# Checking empty values for all columns
empty_id=[]
empty_street=[]
empty_suburb=[]
empty_gov_ar=[]
empty_market=[]
empty_country=[]
empty_country_code=[]
empty_loc_type=[]
empty_longitude=[]
empty_latitude=[]
empty_is_loc_ex=[]

for index, row in df_1_address.iterrows():
    if row["_id"] == '':
        empty_id.append(index)
    
    if row["street"] == '':
        empty_street.append(index)
        
    if row["suburb"] == '':
        empty_suburb.append(index)

    if row["government_area"] == '':
        empty_gov_ar.append(index)

    if row["market"] == '':
        empty_market.append(index)

    if row["country"] == '':
        empty_country.append(index)
    
    if row["country_code"] == '':
        empty_country_code.append(index)

    if row["location_type"] == '':
        empty_loc_type.append(index) 

    if row["longitude"] == '':
        empty_longitude.append(index)
    
    if row["latitude"] == '':
        empty_latitude.append(index)
    if row["is_location_exact"] == '':
        empty_is_loc_ex.append(index)

In [44]:
empty_columns = [empty_id, empty_street, empty_suburb, empty_gov_ar, empty_market, empty_country, empty_country_code, empty_loc_type, empty_longitude, empty_latitude, empty_is_loc_ex]
for i in empty_columns:
    print(len(i))

0
0
887
0
6
0
0
0
0
0
0

## Handling Empty Values

In [45]:
# "suburb" and "market" have a empty values

df_1_address["suburb"]= df_1_address["suburb"].replace({'':"Not Specified"})
df_1_address["market"]= df_1_address["market"].replace({'':"Not Specified"})

## Handling Boolean Values

In [46]:
# Changing "True" --> Yes and "False" --> "No"
df_1_address["is_location_exact"]= df_1_address["is_location_exact"].map({False:"No", True:"Yes"})

In [48]:
df_1_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10057447,"Montréal, Québec, Canada",Mile End,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.59111,45.518890,Yes
1,10006546,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.141300,No
2,1001265,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.286340,Yes
3,10009999,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,Yes
4,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.799620,No

## Fetching Availability Details

In [49]:
availability= []
for i in coll.find({}, {"_id":1, "availability":1}): # Fetching id and availability columns from the collection
    availability.append(i) # Appending all the id's and availability details into empty_list (availability)

In [50]:
df_availabe= pd.DataFrame(availability)

In [51]:
availabe_columns= {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

for i in df_availabe["_id"]:
    availabe_columns["_id"].append(i)

for i in df_availabe["availability"]:
    availabe_columns["availability_30"].append(i["availability_30"])
    availabe_columns["availability_60"].append(i["availability_60"])
    availabe_columns["availability_90"].append(i["availability_90"])
    availabe_columns["availability_365"].append(i["availability_365"])

In [54]:
df_1_available= pd.DataFrame(availabe_columns)
df_1_available.head()

,_id,availability_30,availability_60,availability_90,availability_365
0,10057447,0,0,0,0
1,10006546,28,47,74,239
2,1001265,16,46,76,343
3,10009999,0,0,0,0
4,1003530,0,0,0,93

In [55]:
df_1_available.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [56]:
df_1_available.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

## Fetching the Amenities details

In [57]:
amenities= []
for i in coll.find({},{"_id":1, "amenities":1}): # Fetching id and amenities columns from the collection
    amenities.append(i) # Appending all the id's and amenities details into empty_list (amenities)

In [58]:
df_amenities= pd.DataFrame(amenities)

In [59]:
# Sorting names of amenities in ascending order
def sort_amenities(x):
    a = x
    a.sort()
    return a

In [60]:
df_amenities["amenities"]= df_amenities["amenities"].apply(lambda x: sort_amenities(x))

In [62]:
df_amenities.head()

        _id                                          amenities
0  10057447  [24-hour check-in, Dryer, Essentials, Family/k...
1  10006546  [Bed linens, Buzzer/wireless intercom, Cable T...
2   1001265  [Air conditioning, BBQ grill, Bed linens, Cabl...
3  10009999  [Buzzer/wireless intercom, Essentials, Family/...
4   1003530  [Air conditioning, Buzzer/wireless intercom, D...

In [63]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [64]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

## Merging all the DataFrames

In [65]:
#df_1
#df_1_host
#df_1_address
#df_1_available
#df_amenities

df= pd.merge(df_1, df_1_host, on="_id") # Merges based on the common "_id" column
df= pd.merge(df, df_1_address, on="_id")
df= pd.merge(df, df_1_available, on="_id")
df= pd.merge(df, df_amenities, on="_id")

In [66]:
# save the file 
df.to_csv("Airbnb.csv", index= False)

In [67]:
df= pd.read_csv("C:/Users/saich/OneDrive/Desktop/airbnb/Airbnb.csv")

In [68]:
df.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,Apartment,Entire home/apt,Real Bed,1,1125,flexible,4,1,2,0,1,50,31,1,https://a0.muscache.com/im/pictures/9fa69ad8-c...,0,0,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",Not Specified,https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,Not Specified,No,Yes,No,1,1,"['email', 'phone', 'jumio', 'offline_governmen...","Montréal, Québec, Canada",Mile End,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.59111,45.518890,Yes,0,0,0,0,"['24-hour check-in', 'Dryer', 'Essentials', 'F..."
1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3,5,51,1,80,15,6,https://a0.muscache.com/im/pictures/e83e702f-e...,89,35,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not Specified,100.0,No,Yes,Yes,3,3,"['email', 'phone', 'reviews', 'jumio', 'offlin...","Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.141300,No,28,47,74,239,"['Bed linens', 'Buzzer/wireless intercom', 'Ca..."
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1,1,96,1,115,0,1,https://a0.muscache.com/im/pictures/15037101/5...,84,100,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,98.0,No,Yes,No,18,18,"['email', 'phone', 'reviews', 'kba']","Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.286340,Yes,16,46,76,343,"['Air conditioning', 'BBQ grill', 'Bed linens'..."
3,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1,2,0,1,317,0,1,https://a0.muscache.com/im/pictures/5b408b9e-4...,0,187,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Not Specified,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,Not Specified,No,Yes,No,1,1,"['email', 'phone', 'facebook']","Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,Yes,0,0,0,0,"['Buzzer/wireless intercom', 'Essentials', 'Fa..."
4,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1,1,70,1,135,0,1,https://a0.muscache.com/im/pictures/15074036/a...,94,135,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,Not Specified,100.0,Yes,Yes,Yes,3,3,"['email', 'phone', 'reviews', 'jumio', 'offlin...","New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.799620,No,0,0,0,93,"['Air conditioning', 'Buzzer/wireless intercom..."